{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<!-- About Section -->
<section id="about" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 align-items-center">
      <div class="col-lg-6">
        <div class="about-content" data-aos="fade-up" data-aos-delay="200">
          <h2>About Me</h2>
          <p>
            I am Mohammed Musthafa V, a dedicated IT Support Specialist with 1 year of experience, complemented by internships and roles in software development. I am passionate about technology and eager to grow as a Software Engineer or IT professional by contributing to innovative projects and the success of the organization.
          </p>
          <p>
            My skills include IT support, web development, digital art, and more. I am always looking to learn new technologies and apply them in real-world scenarios.
          </p>
          <div class="about-details">
            <div class="row">
              <div class="col-md-6">
                <h4>Location</h4>
                <p>Saudi Arabia</p>
              </div>
              <div class="col-md-6">
                <h4>Experience</h4>
                <p>1+ Years</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-image" data-aos="zoom-in" data-aos-delay="300">
          <img src="{% static "assets/img/muthu ai.png" %}" alt="Musthafa" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
