{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <style>
        h1 {
          color: #00a545ff;
        }
        h3 {
          color: #ddce00ff;
        }
        b {
          color: #1387c1;
        }
      </style>
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h1><strong>Documents</h1>
        <p>Explore my achivements and certificates </p>
      </div><!-- End Section Title -->

      
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-6">

            <div class="resume-item" data-aos="fade-up">
              <h3 class="resume-title">Education</h3>

              <div class="resume-content">
                <article class="education-item">
                  <h4>Master of Computer Application</h4>
                  <h5>2023</h5>
                  <p class="institution"><em>University of Calicut</em></p>
                  <p>Completed Master of Computer Applications at University of Calicut</p>
                 
                  <div class="download-resume" style="margin-top: 20px;">
                    <a href="{% static 'assets/Documents/mca.pdf' %}" download class="btn btn-primary">
                      
                      BCA certificate
                       <i class="bi bi-download"></i>
                </article>

                <article class="education-item">
                  <h4>Bachelor of Computer Application</h4>
                  <h5>2021</h5>
                  <p class="institution"><em>University of Calicut</em></p>
                  <p>Completed Bachelor of Computer Application at University of Calicut</p>
                  <div class="download-resume" style="margin-top: 20px;">
                    <a href="{% static 'assets/bca.pdf' %}" download class="btn btn-primary">
                      MCA certificate
                       <i class="bi bi-download"></i>
                    </a>
                  </div>
                </article>

                <article class="education-item">
                  <h4>Internship</h4>
                  <h5>2023</h5>
                  <p class="institution"><em>Soften technologies/em></p>
                  <p>Completed internship in Python at soften technologies cochin</p>
                  <div class="download-resume" style="margin-top: 20px;">
                    <a href="{% static 'assets/Documents/soft.pdf' %}" download class="btn btn-primary">
                      Python certificate
                       <i class="bi bi-download"></i>
                    </a>
                  </div>
                </article>


                <article class="education-item">
                  <h4> Work Experience</h4>
                  <h5>2023</h5>
                  <p class="institution"><em>Starlex Health Care products and services pvt ltd</em>
                  <p>One year completed at Starlex Health care products and services pvt ltd as an IT SUPPORT</p>
                  <div class="download-resume" style="margin-top: 20px;">
                    <a href="{% static 'assets/Documents/star.pdf' %}" download class="btn btn-primary">
                      Experience certificate
                       <i class="bi bi-download"></i>
                    </a>
                  </div>
                </article>
              </div>
            </div><!-- End Education Section -->

    </section><!-- /Resume Section -->

   
{% endblock %}
