{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<!-- Photos Section -->
<section id="photos" class="photos section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title" data-aos="fade-up">
      <h2>Photos</h2>
      <p>Some of my favorite moments and creations</p>
    </div>
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="photo-item">
          <img src="{% static "assets/img/muthu ai.png" %}" alt="Photo 1" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="photo-item">
          <img src="{% static "assets/img/muthu ai.png" %}" alt="Photo 2" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="photo-item">
          <img src="{% static "assets/img/muthu ai.png" %}" alt="Photo 3" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
