{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <style>
        h1 {
          color: #00a545ff;
        }
        h3 {
          color: #ddce00ff;
        }
        b {
          color: #1387c1;
        }
      </style>
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h1><strong>Resume</strong></h1>
        <p>IT Support Professional with 1 year of experience, complemented by internships and roles in software development. Aspiring to grow as a Software Engineer or IT professional by contributing to innovative projects and the success of the organization.</p>
      </div><!-- End Section Title -->

      
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-6">

            <div class="resume-item" data-aos="fade-up">
              <h3 class="resume-title">Education</h3>

              <div class="resume-content">
                <article class="education-item">
                  <h4>Master of Computer Application</h4>
                  <h5>2023</h5>
                  <p class="institution"><em>University of Calicut</em></p>
                  <p>Completed Master of Computer Applications at University of Calicut</p>
                </article>

                <article class="education-item">
                  <h4>Bachelor of Computer Application</h4>
                  <h5>2021</h5>
                  <p class="institution"><em>University of Calicut</em></p>
                  <p>Completed Bachelor of Computer Application at University of Calicut</p>
                </article>
              </div>
            </div><!-- End Education Section -->

            <!-- Professional Skills Section -->
            <div class="resume-item skills-animation" data-aos="fade-up">
              <h3 class="resume-title">Professional Skills</h3>

              <div class="resume-content">
                <div class="skill-item">
                  <h4>IT Support</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Python Development</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Django Web Development</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>HTML & CSS</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Front-End Web Development</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Database Management</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Troubleshooting</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Microsoft Office</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <!-- <div class="skill-item">
                  <h4>English</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skill-item">
                  <h4>Malayalam</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div> -->
              </div>
            </div><!-- End Professional Skills Section -->

            <div class="download-resume" style="margin-top: 20px;">
              <a href="{% static 'assets/documents/MOHAMMED_MUSTHAFA_V_IT_SUPPORT_CV.pdf' %}" download class="btn btn-primary">
                Download Resume <i class="bi bi-download"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- Experience Section -->
            <div class="resume-item" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>

              <div class="resume-content">
                <article class="experience-item">
                  <h4>IT Support Executive</h4>
                  <h5>2024 - Present</h5>
                  <p class="company"><em>Starlex Health Care Products and Services Pvt Ltd</em></p>
                  <ul>
                    <li>Provided technical support for software and IT systems, ensuring smooth operations</li>
                    <li>Troubleshot hardware and software issues, resolving them efficiently to minimize downtime</li>
                    <li>Assisted in database management and maintained system security protocols</li>
                    <li>Assisted customers by identifying and resolving technical or service-related issues</li>
                    <li>Led and managed the returns department, overseeing the entire product return and exchange process</li>
                    <li>Ensured compliance with company policies and quality standards while handling return requests and product inspections</li>
                  </ul>
                </article>

                <article class="experience-item">
                  <h4>Python Developer Intern</h4>
                  <h5>2023 - 2024</h5>
                  <p class="company"><em></em></p>
                  <ul>
                    <li>Developed and maintained Python-based applications, contributing to project deliverables</li>
                    <li>Collaborated with senior developers to debug and optimize code for better performance</li>
                    <li>Gained hands-on experience in software development life cycles and agile methodologies</li>
                    <li>Received an internship certificate for outstanding performance and dedication</li>
                  </ul>
                </article>

                <!-- <article class="experience-item">
                  <h4>Web Development Intern</h4>
                  <h5>2022 - 2023</h5>
                  <p class="company"><em>Various Online Platforms</em></p>
                  <ul>
                    <li>Built responsive websites using HTML, CSS, and JavaScript</li>
                    <li>Learned front-end frameworks and best practices</li>
                    <li>Participated in coding challenges and projects</li>
                    <li>Improved skills in UI/UX design</li>
                  </ul>
                </article> -->
              </div>
            </div><!-- End Experience Section -->

            <!-- Projects Section -->
            <div class="resume-item" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Projects</h3>

              <div class="resume-content">
                <article class="project-item">
                  <h4>Diary Management System</h4>
                  <p>The Dairy Management System is a project for Dairy Milk Management. It deals with maintaining the inventory details of dairy products and dairy shops. There are six modules divided into two parts: Website modules (Admin, Shop, Employee) and Android modules (Farmer, Delivery boy, User). The project was developed using Python with the Flask framework and Android.</p>
                </article>
                <article class="project-item">
                  <h4>Solivagant</h4>
                  <p>Solivagant is a mini project online website developed based on a tourist management system. It is completely a website developed with Python using the Flask framework. The system includes three modules: Admin, User, and Travel Guide.</p>
                </article>
                <article class="project-item">
                  <h4>Mosque App</h4>
                  <p>This application helps Muslims locate nearby mosques and view accurate prayer times, especially useful for travelers around the world. The app provides mosque notifications and manages important announcements. It also includes a financial management module to record and organize mosque transactions systematically. To ensure safety during situations like the COVID-19 pandemic, the app generates a unique QR code for each user—required for mosque entry and attendance tracking.</p>
                </article>
              </div>
            </div><!-- End Projects Section -->
          </div>
        </div>

      </div>

    </section><!-- /Resume Section -->

   
{% endblock %}
